.headline{
    color: #fa804c;
}
.head-image{
    width: 600px;
    height: 500px;
}
.header-bg{
    background-color: #fffbf6;
}
.card-img-top{
    background-color: rgb(241, 237, 231);
}
.benifit-image img{
    height: 400px;
}